- name: serverPods
  k8s:
    selectors:
      - namespace: server-ns
        labels:
          app: server

- name: databasePods
  k8s:
    selectors:
      - namespace: db-ns
        labels:
          app: mysql
      - namespace: backup-db-ns
        labels:
          app: postgres

- name: localFile
  file:
    path: /var/log/myapp/myapp.log
